#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .read-the-docs {
    color: #888;
  }
  
  a.vlink {
  
    color : #efefef;
  
    position:relative;
  
    height:54px;
  
    width:72px;
  
    text-align:center;
  
    line-height:54px;
  
    display:block;
  
    font-size: 20px;
  
  }
  
  a.vlink span {
  
    position : absolute;
  
    opacity: 0;
  
    transition : transform 400ms ease-out;
  
    margin-left:24px;
  
    box-shadow : 2px 4px 3px 1px rgba(0,0,0,0.2);
  
  }
  

  
  a.vlink span:before {
  
    content : '';
  
    display:block;
  
    width:0;
  
    height:0;
  
    position:absolute;
  
    border-top:8px solid transparent;
  
    border-bottom:8px solid transparent;
  
    border-right:8px solid #000;
  
    left:-12px;
  
    top:33%;
  
  }
  a.vlink span:hover {
  
    background : #000 !important;
  
  }
  a.vlink:hover {
  
    box-shadow : 1px 2px 3px #9d451d;
  
    background: rgb(242,130,91); 
  
    background: -moz-linear-gradient(left,  rgba(242,130,91,1) 0%, rgba(229,91,43,1) 50%, rgba(240,113,70,1) 100%); 
  
    background: -webkit-linear-gradient(left,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);
  
    background: linear-gradient(to right,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%); 
  
  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=1 );
  
    width: auto;
  
    height: 70px;
  
    font-size: 40px;
  
  }
  
  a.vlink:hover span {
  
    opacity:1;
  
    width: 220px;
  
    transform:translateX(12px);
  
    background : #343434;
  
    font-size:16px;
  
    border-radius:6px;
  
    border-left:4px solid #000;
  
    padding : 0px 12px 0px 12px;
  
  }
  
  ul {
  
    background: rgb(69,72,77);
  
    background: -moz-linear-gradient(left,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); 
  
    background: -webkit-linear-gradient(left,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); 
  
    background: linear-gradient(to right,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); 
  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); 
  
    box-shadow :-6px 12px 5px 2px rgba(145,145,145,0.5);
  
  }
  
  
  .card:hover {

    border-radius: 8px;

    border-width: 4px;
  
    border-style: outset;
  
    border-color: red;
  
    background-color: aqua;

    width: 300px;
   
  }
  
  .card-title {
  
    font-family: 'Brush Script MT', cursive;

    text-align: center;

  }
  
  .ocupacion {
  
    text-align: center;
  
    font-weight: bold;
  
    font-style: oblique;
  
  }
  
  .experienciaYFecha {
  
    text-align: justify;
  
  }
  
  .imgCard {
  
    padding: 5px;
  
    width: 150px;
  
    border: 1px solid #ddd;
  
  }
  
  .imgCard:hover {
  
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  
  }

  .card {

    border-radius: 8px;

    border-width: 4px;

    border-color: black;

    border-style: outset;

    width: 300px;

  }

  body {

    background-color: #87CEEB;

  }

  .EfectoRelieve {

    text-align: center;
    font-family: Arial Black;
    font-weight: bold; 
    font-size: 30px;
    background: #202020;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);

  }

  .ImagenRedonda {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 10px solid #BEBEBE;
    padding: 10px;
  }

  .ImagenRedonda:hover{
    border: 10px solid greenyellow;
  }

  .EfectoRelieve:hover{
    color: #BEBEBE;
    font-size: 50px;
  }
 
  .Texto {
    color: #BEBEBE;
  }



.playfair-display-uniquifier {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-size: 22px;
}

.botonFooter {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 10px;
}

.botonFooter:hover {
  background-color: #3e8e41
}

.botonFooter:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}